pspg-header-menu {
    .header-menu {
        float: right;
    }

    .person-icon {
        font-size: 30px;
        color: cadetblue;
        // background-color:#6289c6;
        // -webkit-border-radius: 50%;
        // border-radius: 50%;
    }

    .cart-icon {
        font-size: 30px;
        color: cornflowerblue;
        // background-color:#48bcf1;
        // -webkit-border-radius: 50%;
        // border-radius: 50%;
    }

    .span-txt {
        border-radius: 10%;
    }

   
}