login-page {
    .list-md{
        background-color: white;
        padding-top: 35%;
    }
    
    .btn-login {
        background-color: #92cbc5;
        color: black;
        margin-left: 38%;
    }
}